.system-dropdown {
	margin-bottom: 18px;
}
.login-icon {
	background: red;
	background-color: aqua;
	color: yellow;
}
.ui .icon {
	/* color: red; */
	float: left;
}

.dropdown > .icon {
	position: relative;
    left: 1.75rem;
    float: right;
}

.dropdown > .text {
	margin-right: -1rem;
}

.userUpdateForm > .ui.selection.dropdown .menu > .item {
	text-align: right;
}