.userInfoHello {
	margin: auto;
	margin-right: 20px;
}

.settingsButton{
	background: transparent !important;
	color: #fff !important;
}

.settingsButton:hover {
	background: #e0e1e2 none !important;
	color: rgba(0,0,0,.6) !important;
}
