.addQueryButton {
	background-color: rgb(39,137,188);
	color: white;
	font-weight: bolder;
}

.addQueryButton:hover > td {
	background-color: rgb(39,137,188, 0.61);
	color: white;
	font-weight: 600;
	cursor: pointer;
}
